*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Press Start 2P';
}
body
{
    padding:2%;
    width:100%;
    flex-direction: column;
    background-color: blue;
    position:relative;
}

.header-main
{
    position: relative;
    background-color: yellow;
    font-size: 76px;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-main
{
    justify-content: center;
    margin-top:3%;
    position: relative;
    width: 100%;
    display: flex;
}

.game-area
{
    position: relative;
    height: 70vh;
    width: 80%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.all-recoders-div
{
    margin-left: 4%;
    position: relative;
    height:70vh;
    width: 20%;
    background-color: yellow;
}